<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://github.com/01org/webapps-scientific-calculator" version="1.0" viewmodes="fullscreen">
    <icon src="icon_128.png"/>
    <content src="index.html"/>
<name>calculator</name>
<tizen:application id="UaW22rtxQw" required_version="1.0"/>
</widget>
